
.bookshelf__bookDetails__1nVZ0 {
  padding-left: 50px; }

.login__row__1XfJK {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.login__column__2lPGa {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center; }

.header__root__Is4gf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-top: 30px; }

.header__column1__1gw_5 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  height: 35px; }

h1 {
  margin: 0; }

.header__column2__1mp0C {
  display: flex;
  flex-basis: 100%;
  flex: 1;
  align-items: flex-end;
  height: 35px; }


.menu__root__2l_tV ul {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  list-style: none; }

.menu__root__2l_tV ul li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center; }
  .menu__root__2l_tV ul li a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s; }
  .menu__root__2l_tV ul li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: menu__line__3Q8Ev 1s; }
  .menu__root__2l_tV ul li:hover a {
    color: #d94f5c; }
  .menu__root__2l_tV ul li:not(:last-child) {
    margin-right: 30px; }

@keyframes menu__line__3Q8Ev {
  0% {
    background-position-x: 390px; } }

.docs__method__xazj3 {
  margin-left: 50px; }

.footer__root__2pLUs {
  background-color: #00235b;
  padding-top: 30px;
  height: 100%;
  text-align: center; }

.new-edit-book__row__2jAmg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 15px; }

.new-edit-book__labelColumn__1PKy7 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: right;
  margin-right: 5px;
  margin-top: 5px; }

.new-edit-book__inputColumn__pilhJ {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 4; }

.new-edit-book__buttonColumn__3jN8Y {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2; }

.new-edit-book__categoryColumn__25z_k {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.new-edit-book__clicked__32chs, .new-edit-book__unclicked__1soUG:hover {
  border: 1px solid black;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  background: #2079b0;
  color: white; }

.new-edit-book__unclicked__1soUG {
  border: 1px solid black;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px; }


body {
  color: wheat;
  height: 100%;
  margin: 0;
  background-color: #00235b; }

.content {
  padding-top: 30px;
  padding-bottom: 30px; }

.content-wrapper {
  width: 100vw;
  background-color: #444; }

.content h2 {
  margin-top: 0; }

a {
  color: white; }

.main {
  width: 50%;
  margin: 0 auto; }

.link-button {
  background: none !important;
  color: white;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid white;
  cursor: pointer; }

